<footer role="contentinfo">
    <section aria-labelledby="contact-heading">
        <h2 id="contact-heading" class="heading">Связь со мной:</h2>
        Если вы заметили неточность, устаревшие данные или у вас есть замечания по коду и оформлению, вы можете
        связаться со мной:
        <ul class="list-footer">
            <li>
                <address><a href="mailto:frazrabotka@gmail.com" title="Отправь мне e-mail"
                            aria-label="Написать электронное сообщение">
                        <img src="assets/img/main/email.svg" width="44" height="44" alt="Email для связи"
                             loading="lazy"></a>
                </address>
            </li>
            <li>
                <address><a href="https://github.com/frontrabotka" target="_blank" rel="noopener noreferrer"
                            title="Мой GitHub" aria-label="Ссылка на профиль GitHub: frontrabotka">
                        <img src="assets/img/main/github.svg" width="50" height="50"
                             alt="Профиль GitHub: frontrabotka" loading="lazy"></a>
                </address>
            </li>
            <li>
                <a href="https://boosty.to/frontrabotka/donate" target="_blank" rel="noopener noreferrer"
                   title="Донат на мотивацию" aria-label="Поддержи донатом" loading="lazy"><img
                            src="assets/img/main/ruble.svg"
                            width="44" height="44"
                            alt="Поддержка проекта" loading="lazy"></a>
            </li>
            <li>
                <a href="https://www.donationalerts.com/r/frontrabotka" target="_blank"
                   rel="noopener noreferrer"
                   title="For a cup of coffee"
                   aria-label="Support with a donation"><img src="assets/img/main/dollar.svg" width="44"
                                                             height="44"
                                                             alt="Поддержка проекта" loading="lazy"></a>
            </li>
        </ul>
        <small class="centered">&copy; 2025</small>
    </section>
</footer>