<li><a href="{{ source.href }}" target="_blank" rel="noopener noreferrer"><img src="{{ source.img }}"
                                                                               width="{{ source.width }}"
                                                                               height="{{ source.height }}"
                                                                               alt="{{ source.alt }}">
        <cite>{{ source.cite }}</cite></a></li>