<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta
            content="{{ description if description else 'Conspect - коллекция практических конспектов по веб-разработке. Учебные материалы по HTML, CSS, JavaScript и другим технологиям.' }}"
            name="description"
    />
    <meta content="frontrabotka.github" name="author"/>
    <title>{{ title if title else 'Conspect' }}</title>
    {% include 'fonts.njk' %}
    {% include 'open-graph.njk' %}
    {% include 'favicon.njk' %}
    <link href="assets/style/main.css" rel="stylesheet"/>
    <link href="assets/style/pages.css" rel="stylesheet"/>
    <link href="assets/style/prism.css" rel="stylesheet"/>
</head>
<body>
{% include 'header.njk' %}
<main>{% block content %}{% endblock %}</main>
{% include 'footer.njk' %}
</body>
</html>
