
body { /* шрифт для body */
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    line-height: 1.4;
}

footer { /* шрифт для footer */
    background-color: #f5f5f5;
    padding: 1rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bold {
    margin-bottom: 1rem;
    font-weight: 700;
}

.cursive { /* курсив для класса cursive */
    font-style: italic;
}

.heading {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
}

.list-footer { /* убирает маркеры для класса list-footer в списке */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.list-footer li {
    display: flex;
    justify-content: center;
    align-items: center;
}