
code, pre {
    font-family: 'JetBrains Mono', monospace;
    background-color: #282a36;
    color: #f8f8f2;
    border-radius: 3px;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre {
    padding: 5px;
    line-height: 1.6;
    font-size: 15px;
    border-radius: 8px;
    border-bottom: 5px solid transparent;
}

code {
    padding: 1px;
    line-height: 1;
    font-size: 18px;
}

cite {
    margin-left: 11px; /* Отступ между иконкой и текстом */
    font-style: normal;
}

.element { /* стили для класса element в <a> */
    align-self: flex-start;
    margin-top: 16px;
}

p { /* шрифт для параграфа */
    margin-bottom: 0.25em;
    line-height: 1.2;
}

p + p { /* уменьшаем верхний отступ для параграфа*/
    margin-top: 0.125em;
}

h1, h2 { /* центрирование заголовков*/
    text-align: center;
    justify-content: center;
}

figcaption { /* стили для figcaption */
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #888;
}

.logo {
    padding-top: 4px; /* Только верхний отступ */
    padding-left: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 120px; /* Установили фиксированную ширину */
    height: auto;
}

.logo:hover { /* стиль для логотипа */
    opacity: 0.8;
}

.logo img {
    border-radius: 15px; /* Скругление углов для самой картинки */
    object-fit: cover; /* Важно, чтобы скругление работало корректно */
}

nav a {
    color: #0056b3;
    transition: color 0.3s ease;
    min-width: 44px;
    min-height: 44px;
    padding: 1px;
    display: inline-block;
    box-sizing: border-box;
}

nav a:hover {
    color: black;
}

.top { /* кнопка наверх */
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 18px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid black;
}

.top:hover { /* наведение на кнопку наверх */
    background-color: rgba(52, 152, 219, 0.9);
}

.message {
    color: #0056b3;
    margin-bottom: 1rem;
}

.source-list { /* шрифт для класса source-list в <ul> */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.source-list li { /* шрифт для li класса source-list в <ul> */
    display: flex;
    align-items: center;
}

.source-list li a { /* шрифт для a класса source-list в <li> */
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.source-list li a:hover { /* стиль для наведения на ссылку <a> */
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    /* увеличиваем шрифт заголовков на мобильных */
    h1, h2 {
        font-size: 25px;
    }

    .source-list li {
        flex: 1 1 calc(50% - 40px);
        max-width: none;
    }

    .source-list li cite {
        text-align: center;
    }
}

@media (max-width: 480px) {
    /* стили для figcaption */
    figcaption {
        font-size: 0.9em;
    }

    .source-list li {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .source-list li img {
        max-width: 80vw;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    /* стили для body, pre и code */
    body {
        font-size: 16px;
    }

    /* кнопка наверх */
    .top {
        bottom: 10px;
        right: 10px;
        padding: 7px 15px;
        font-size: 12px;
    }

    pre, code {
        font-size: 13px;
    }
}

