---
permalink: "/error-page.html"
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta
    content="Conspect - коллекция практических конспектов по веб-разработке. Учебные материалы по HTML, CSS, JavaScript и другим технологиям."
    name="description"
  />
  <title>Страница в разработке</title>
  {% include 'fonts.njk' %}
  {% include 'favicon.njk' %}
  <link href="assets/style/404.css" rel="stylesheet"/>
</head>
<body>
<div class="under-development">
  <div class="message">
    <h1>Раздел находится в стадии заполнения</h1>
    <p>Пожалуйста, вернитесь позже</p>
  </div>
  <a class="back-link" href="{{ '/' | url }}">Вернуться на главную</a>
</div>
</body>
</html>
