<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta
    content="Conspect - коллекция практических конспектов по веб-разработке. Учебные материалы по HTML, CSS, JavaScript и другим технологиям."
    name="description"
  />
  <meta content="frontrabotka.github" name="author"/>
  <title>Conspect</title>
  {% include 'fonts.njk' %}
  {% include 'favicon.njk' %}
  {% include 'open-graph.njk' %}
  <link href="assets/style/main.css" rel="stylesheet"/>
  <link href="assets/style/home.css" rel="stylesheet"/>
</head>
<body>
<header>
  <img
    alt="Логотип сайта"
    class="logo"
    height="140"
    src="assets/img/logo.png"
    width="140"
  />
</header>
<main>
  <section>
    <h1 class="heading">Добро пожаловать на сайт Conspect!</h1>
    <div class="main-center">
      <p>
        Цель сайта <span class="bold">CONSPECT</span> — создание конспектов
        и шпаргалок по знаниям и технологиям, которые я изучил.
      </p>
      <span class="cursive">
        <small>
          <time datetime="2025-06-04" class="bold">4.06.2025</time>: Сайт на стадии
      заполнения. В данный момент рабочие разделы только HTML и Eleventy.
        </small>
      </span>
    </div>
  </section>
  <nav aria-label="Навигация по сайту">
    <h2 class="heading">Навигация по cайту:</h2>
    <div class="nav-container">
      <ul class="nav-column column-left">
        <li>
          <a class="navigation-button" href="error-page.html"
          ><img
            alt="раздел основы WEB"
            height="58"
            src="assets/img/main/web.svg"
            width="58"
          />Основы WEB</a>
        </li>
        <li>
        <a class="navigation-button" href="html.html"
        ><img
          alt="раздел HTML"
          height="58"
          src="assets/img/main/html.svg"
          width="58"
        />HTML</a
        >
        </li>
      </ul>
      <ul class="nav-column column-center">
        <li>
          <a class="navigation-button" href="error-page.html"
          ><img
            alt="раздел Markdown"
            height="58"
            src="assets/img/main/markdown.svg"
            width="58"
          />Markdown</a
          >
        </li>
        <li>
          <a class="navigation-button" href="error-page.html"
          ><img
            alt="раздел Git/GitHub"
            height="58"
            src="assets/img/main/git.svg"
            width="58"
          />Git/GitHub</a
          >
        </li>
      </ul>
      <ul class="nav-column column-right">
        <li>
          <a class="navigation-button" href="error-page.html"
          ><img
            alt="раздел Nunjucks"
            height="58"
            src="assets/img/main/nunjucks.svg"
            width="58"
          />Nunjucks</a
          >
        </li>
        <li>
          <a class="navigation-button" href="eleventy.html"
          ><img
            alt="раздел Eleventy"
            height="58"
            src="assets/img/main/eleventy.svg"
            width="58"
          />Eleventy</a
          >
        </li>
      </ul>
    </div>
  </nav>
</main>

{% include 'footer.njk' %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker
                .register("scripts/sw.js")
                .then((registration) => {
                    console.log("ServiceWorker зарегистрирован:", registration)
                })
                .catch((registrationError) => {
                    console.error(
                        "Ошибка регистрации ServiceWorker:",
                        registrationError
                    )
                })
        }
    })
</script>
</body>
</html>
